/*INTRO+++++++++++++++++++  */
.intro {
    background-color: #333;
    width: 100%;
}
.introclaseHTML {
    display: flex;
    align-items: center;
    height: 700px;
    flex-wrap: wrap;
}
#contenedor-img-intro {
    display: flex;
    background-color: rgba(255, 255, 255, 0);
    padding: 0px;
    margin: 0px;
    width: 40%;
    flex-direction: column;
    border-radius: 25px;
    text-align: center;
}
#contenedor-img-intro img {
    width: 100%;
    border-radius: 30px;
    margin: 0px;
}
#contenedor-img-intro p {
    margin: 10px 0px;
}
#contenedor-descripcion-intro {
    width: 60%;
}
#contenedor-descripcion-intro h4 {
    font-size: 29px;
    margin: 20px;
    font-weight: bold;
    margin-left: 40px;
    font-family: "Gajraj One";
    letter-spacing: 3px;
}
#contenedor-descripcion-intro p {
    margin: 20px;
    margin-left: 40px;
    font-size: 20px;
}
