/* EL FOOTER +++++++++++++++++++  */
#footer {
    background-color: #222;
}
.footer-contenedor {
    display: flex;
    flex-wrap: wrap;
}
.footer-hr {
    color: black;
    background-color: blueviolet;
    width: 100%;
    border: 0.2px solid black;
}
#footer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}
#footer-logo img {
    width: 70px;
}
#footer-logo h4 {
    margin-left: 20px;
    font-weight: bold;
    font-size: 120%;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    letter-spacing: 2px;
    font-weight: 400;
}
#derechos-autor-copy {
    width: 100%;
    height: 30px;
}
.media-account {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 90px;
    flex-wrap: wrap;
}
#social-meadia {
    display: flex;
    align-items: center;
    flex-direction: row;
}
.social-media-content a {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.social-media-content {
    border: 2px solid #a87b05;
    padding: 5px;
    margin: 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a87b05;
    transition: all 300ms ease-in-out;
    cursor: pointer;
}
.social-media-content:hover {
    background-color: #664300;
    border-radius: 3px solid #664300;
}
.social-media-link {
    cursor: pointer;
}
#derechos-autor-copy {
    text-align: justify;
}
#derechos-autor-copy h6 {
    font-size: 13px;
    text-align: justify;
}
#descripcion-copy {
    margin-bottom: 20px;
}
#descripcion-copy {
    width: 100%;
}
#descripcion-copy p {
    font-size: 11px;
}
